<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="LS\CustomerGuard\Model\ConfigInterface" type="LS\CustomerGuard\Model\Config" />
    <preference for="LS\CustomerGuard\Model\RegisterConditionInterface" type="LS\CustomerGuard\Model\RegisterConditions" />
    <type name="Magento\Customer\Model\Registration">
        <plugin name="lsCustomerGuardConditions" type="LS\CustomerGuard\Plugin\CustomerRegistrationPlugin" />
    </type>
    <type name="LS\CustomerGuard\Model\RegisterConditions">
        <arguments>
            <argument name="conditions" xsi:type="array">
                <item name="blockedIps" xsi:type="object">LS\CustomerGuard\Model\BlockedIpsCondition</item>
                <item name="blockedNames" xsi:type="object">LS\CustomerGuard\Model\BlockedNamesCondition</item>
                <item name="emailDomains" xsi:type="object">LS\CustomerGuard\Model\EmailDomainsCondition</item>
                <item name="nameLength" xsi:type="object">LS\CustomerGuard\Model\NameLengthCondition</item>
            </argument>
        </arguments>
    </type>
</config>
