<?xml version="1.0"?>
<!--Copyright © Lucid Modules. All rights reserved.-->
<!--See LICENSE.txt for license details.-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="LucidModules\CustomerGuard\Model\ConfigInterface" type="LucidModules\CustomerGuard\Model\Config" />
    <preference for="LucidModules\CustomerGuard\Model\RegisterConditionInterface" type="LucidModules\CustomerGuard\Model\RegisterConditions" />
    <type name="Magento\Customer\Api\AccountManagementInterface">
        <plugin name="lucidModulesCustomerGuardConditions" type="LucidModules\CustomerGuard\Plugin\AccountManagementPlugin" />
    </type>
    <type name="LucidModules\CustomerGuard\Model\RegisterConditions">
        <arguments>
            <argument name="conditions" xsi:type="array">
                <item name="blockedIps" xsi:type="object">LucidModules\CustomerGuard\Model\BlockedIpsCondition</item>
                <item name="blockedNames" xsi:type="object">LucidModules\CustomerGuard\Model\BlockedNamesCondition</item>
                <item name="emailDomains" xsi:type="object">LucidModules\CustomerGuard\Model\EmailDomainsCondition</item>
                <item name="nameLength" xsi:type="object">LucidModules\CustomerGuard\Model\NameLengthCondition</item>
            </argument>
        </arguments>
    </type>
</config>
